@import url('https://fonts.googleapis.com/css2?family=Proza+Libre:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


.primary-color {
  color: #FCA311;
}

.secondary-color {
  color: #14213D;
}

.bg-secondary-color {
  background-color: #14213D;
}

.bg-primary-color {
  background-color: #FCA311;
}


.font-primary {
  /* font-family: 'AdiHaus'; */
  font-family: "Proza Libre", sans-serif;
  font-weight: 700;
}

.font-secondary {
  /* font-family: 'AdihausDin'; */
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.animate-posters {
  animation: images 40s linear infinite;
}

.animate-posters-reverse {
  animation: images-reverse 40s linear infinite;
}

.height-screen {
  height: calc(100vh - 70px);
}

@keyframes images-reverse {
  from {
    transform: translateY(0%);
  }
  to {
    transform: translateY(-50%);
  }
}

@keyframes images {
  from {
    transform: translateY(0%);
  }
  to {
    transform: translateY(50%);
  }
}